@font-face {
  font-family: DotGothic16;
  src: url(../fonts/DotGothic16/DotGothic16-Regular.ttf);
}
body{
    font-family: DotGothic16;
    background-color: #3E38F2;
    background: radial-gradient(circle, #3E38F2 0%, #5068F2 100%);
}
a{text-decoration: none;}
.Illustration-1-hex { background-color: #3E38F2; }
.Illustration-2-hex { background-color: #2A26A6; }
.Illustration-3-hex { background-color: #171559; }
.Illustration-4-hex { background-color: #5068F2; }
.Illustration-5-hex { background-color: #F28888; }
.square{
    width:50px;
    height:50px;
    display:inline-block;
}

.container{
    min-height:100vh;
    margin:auto;
    padding: 50px;
}
.container-product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.h1-title{
    text-align: center;
    color: #F28888;
    font-size: 48px;
}
.h2-title{
    text-align: center;
    color: #F28888;
    font-size: 32px;
}
.productList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    background-color: #5068F2;
    border: solid 3px;
    border-radius: 25px;
    border-color: #171559;
    padding: 15px;
    width: 300px;
    min-height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 25px;
}
.card:hover {
    cursor:pointer;
    transform: scale(1.03);
}
.product__name{
    color: #F28888;
    text-transform: capitalize;
}
.product__description{
    color: #171559;
}
.product__price{
    color: #171559;
    font-weight: bold;
    font-size: 24px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.button__page{
    background-color: #2A26A6;
    color: #5068F2;
    margin: 3px;
    padding: 15px 25px;
    border: solid 3px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 700;
    border-color: #171559;
}
.button__page:hover{
    background-color: #171559;
    color:#F28888;
    cursor:pointer;
}