<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>
    <main class="container">
        <div class="productList">
            <div class="product" th:each="p: ${productList}">
                <a th:href="@{/product/{id}(id=${p.id})}">
                    <div class="product__name" th:text="${p.name}">product__name</div>
                </a>
                <div class="product__description" th:text="${p.description}">product__description</div>
                <div class="product__price" th:text="${p.price}">product__price</div>
            </div>
        </div>
    </main>
</body>
</html>