<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>

<div class="Illustration-1-hex square"></div>
<div class="Illustration-2-hex square"></div>
<div class="Illustration-3-hex square"></div>
<div class="Illustration-4-hex square"></div>
<div class="Illustration-5-hex square"></div>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>