<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>
<main class="container container-product">
    <div class="card">
        <div class="product__name">
            <h2 class="h2-title" th:text="${product.name}">{this.props.product.name}</h2>
        </div>
        <div class="product__description">
            <p th:text="${product.description}">{this.props.product.description}</p>
        </div>
        <div class="product__price">
            <p th:text="${product.price}">{this.props.product.price}</p>
        </div>
    </div>
</main>
</body>
</html>